In [2]:
import pandas as pd

In [3]:
file_path = "data.xls"
sheet_name = "Feuil1"  

df = pd.read_excel(file_path, sheet_name=sheet_name)

df['avg3'] = df['y'].rolling(window=3, center=True).mean()

df['avg5'] = df['y'].rolling(window=5, center=True).mean()

result = df[['t', 'année', 'trim', 'y', 'avg3', 'avg5']]

In [4]:
result

     t   année trim       y        avg3     avg5
0    1  1981.0   T1   90.70         NaN      NaN
1    2     NaN   T2   98.60   97.766667      NaN
2    3     NaN   T3  104.00   99.566667   97.420
3    4     NaN   T4   96.10   99.266667   98.000
4    5  1982.0   T1   97.70   95.800000   97.940
5    6     NaN   T2   93.60   96.533333   97.200
6    7     NaN   T3   98.30   97.400000   96.440
7    8     NaN   T4  100.30   96.966667   94.420
8    9  1983.0   T1   92.30   93.400000   94.100
9   10     NaN   T2   87.60   90.633333   93.120
10  11     NaN   T3   92.00   91.000000   92.088
11  12     NaN   T4   93.40   93.513333   92.668
12  13  1984.0   T1   95.14   94.580000   95.148
13  14     NaN   T2   95.20   96.780000   97.548
14  15     NaN   T3  100.00   99.733333  101.108
15  16     NaN   T4  104.00  105.066667  103.200
16  17  1985.0   T1  111.20  106.933333  103.260
17  18     NaN   T2  105.60  104.100000  100.820
18  19     NaN   T3   95.50   96.300000   93.520
19  20     NaN   T4   87.80   83.600000   79.460
20  21  1986.0   T1   67.50   65.400000   64.620
21  22     NaN   T2   40.90   46.600000   52.320
22  23     NaN   T3   31.40   35.433333   42.620
23  24     NaN   T4   34.00   34.900000   37.320
24  25  1987.0   T1   39.30   38.100000   37.840
25  26     NaN   T2   41.00   41.266667   39.600
26  27     NaN   T3   43.50   41.566667   39.720
27  28     NaN   T4   40.20   39.433333   38.780
28  29  1988.0   T1   34.60   36.466667   37.680
29  30     NaN   T2   34.60   34.900000   35.340
30  31     NaN   T3   35.50   33.966667   34.980
31  32     NaN   T4   31.80   35.233333   36.980
32  33  1989.0   T1   38.40   38.266667   38.520
33  34     NaN   T2   44.60   41.766667   40.000
34  35     NaN   T3   42.30   43.266667   42.060
35  36     NaN   T4   42.90   42.433333   41.480
36  37  1990.0   T1   42.10   40.166667   41.160
37  38     NaN   T2   35.50   40.200000   45.260
38  39     NaN   T3   43.00   47.100000   45.980
39  40     NaN   T4   62.80   50.766667   46.520
40  41  1991.0   T1   46.50   51.366667   48.620
41  42     NaN   T2   44.80   45.766667   49.120
42  43     NaN   T3   46.00   45.433333      NaN
43  44     NaN   T4   45.50         NaN      NaN